.Readable-App {
  margin: 0 15%; }
  .Readable-App .main-container {
    margin-top: 60px; }

button a {
  color: white; }

.controls-row {
  display: flex;
  justify-content: flex-end; }

table.ui td.controls-cell,
table.ui thead th.controls-cell {
  text-align: center; }
  table.ui td.controls-cell .icon,
  table.ui thead th.controls-cell .icon {
    cursor: pointer; }
    table.ui td.controls-cell .icon:hover,
    table.ui thead th.controls-cell .icon:hover {
      font-weight: bold;
      color: blue; }
    table.ui td.controls-cell .icon.delete:hover,
    table.ui thead th.controls-cell .icon.delete:hover {
      color: red; }
