.Readable-App {
  margin: 0 15%;

  .main-container {
    margin-top: 60px;
  }
}

button {
  a {
    color: white;
  }
}

.controls-row {
  display: flex;
  justify-content: flex-end;
}

table.ui {
  td.controls-cell,
  thead th.controls-cell {
    text-align: center;
    .icon {
      cursor: pointer;

      &:hover {
        font-weight: bold;
        color: blue;
      }

      &.delete:hover {
        color: red;
      }
    }
  }
}
